a { color: #d81b60; }
form { width: 100%; }
select { height: 27px; }
body { overflow: hidden; background-color: #f5f5f5 !important; }

header.mdl-layout__header {
  transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -webkit-transition: background-color 0.3s ease-in;
}

@media (min-width: 1025px){
  header.mdl-layout__header .back-button {
    left: 230px;
  }
}

@media (max-width: 1024px){
  #floating-actions {
    margin-right: 20px !important;
    margin-bottom: 20px !important;
  }
}

/*.mdl-cell { display: inline-flex; }*/

.loading-overlay {
    position: absolute;
    z-index: 9999;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ticket */
.ticket-footer { color: rgba(0,0,0,.35); margin-top: 20px; }
.ticket-entry-files { margin: 10px 0 0 0; padding: 0; }
.ticket-entry-files > li { 
    position: relative;
    width: 180px; height: 116px; display: inline-block; margin: 14px 16px 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
}
.ticket-entry-files > li:last-child { margin-right: 0; }
.ticket-entry-files > li > img { width: 100%; height: 100%; object-position: center; object-fit: none; }
.ticket-file-label { padding: 6px; width: auto; height: 100%; color: transparent; transition: all 0.5s; }
.ticket-file-label:hover { 
    background-color: rgba(255,255,255,0.7); 
    color: black; 
    transition: all 0.5s;
}
.ticket-file-name { width: 100%; word-wrap:break-word; line-height: 100%; }
.ticket-file-buttons { position: absolute; bottom: 0px; width: auto; right: 0; padding: 6px; }
.ticket-file-buttons > .mdl-button { margin-left: 4px; }

#ticket-watchers > span { vertical-align: middle; }
.ticket-watcher:after { content: ',' }
.ticket-watcher:last-child:after { content: '' }

.ticket-statistics { }
.ticket-statistics * { vertical-align: middle; }

.ticket-interval { width: auto; padding: 10px 14px; position: absolute; border: 1px solid #ccc; 
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -37px;
    background-color: white; 
    white-space: nowrap;
    border-radius: 2px;
    font-size: 80%;
}

/* Rating */
.rating-stars { list-style: none; margin: 0; padding: 0; }
.rating-stars > li { list-style: none; margin: 0; padding: 0; display: inline-block }
.rating-star.fulfilled i { color: #FFC107; }

.rating-thumbs { display: inline-block; }
.rating-thumbs.choosen[data-value=true] i { color: #4CAF50; }
.rating-thumbs.choosen[data-value=false] i { color: #F44336; }

.card-footer { }

.rating-card { padding-bottom: 7px; }
.rating-card .rating-stars { float: right; }
.rating-card .comment-icon { display: inline-float; margin-left: 8px; }

.rating-comment-footer { display: block; margin-top: 12px; font-weight: 300; color: rgba(255,255,255,0.7);  }

#dialog-rating p { margin-bottom: 6px; text-align: left; }
#dialog-rating .mdl-dialog__content .mdl-cell { margin: 8px 0 12px 0; width: 100%; text-align: center; }

.mdl-card__title > .mdl-button--fab { margin: 0; }
.mdl-card__title-icon-fab > .mdl-button--fab { margin-right: 12px; }
.mdl-card__title-icon-fab > .mdl-card__title-text { line-height: 40px; }
.mdl-card__supporting-text { width: auto; }

#floating-actions {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  z-index: 3;
  text-align: center;
}

#floating-actions ul { padding: 0; margin: 0; list-style: none; min-width: 0; }
#floating-actions ul li { padding: 0 8px 15px 0; margin: 0; }
#floating-actions .mdl-menu__outline { background: transparent; box-shadow: none; }

#header-actions .mdl-button { margin-left: 10px; }

.mdl-data-table { width: 100%; }

.mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row { padding-left: 52px; }

.demo-layout .demo-navigation .mdl-navigation__link:hover { background-color: #E0E0E0; }
.demo-layout .mdl-layout__header .mdl-layout__drawer-button { color: white; }

.demo-drawer-header { background: url('../images/menu-cover.png') left top no-repeat transparent; }

/*.demo-content { position: relative; }*/

/* Search */
.no-result { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #757575; min-width: 240px; } 
.no-result h2 { margin: 8px 0; }

/* Text fields */
.mdl-textfield { width: 100%; }
.mdl-textfield__error ul,
.mdl-textfield__error li { padding: 0; margin: 0; list-style: none; }

.fake-label { font-size: 12px; margin-top: -16px; margin-bottom: -2px; display: block; width: 100%; }
.fake-field { padding: 4px 0; display: inline-block;; }

/* Cards */
.mdl-card { width: 100%; min-height: 0; }
.mdl-card__supporting-text hr { margin: 1em -16px; }

.ticket-entries > .mdl-cell { white-space: nowrap; }
.text-content { display: inline-block; /*float: left;*/ white-space: normal; text-align: justify; }
.icon-text-content { margin-right: 16px; /*float: left;*/ display: inline-block; vertical-align: top; margin-left: 0; }

.icon-text-content { margin-top: 0; }
.icon-text-content > .mdl-button--fab { margin-top: 0; }

@media (max-width: 479px){
    .text-content { text-align: left; }
    
    .icon-text-content { margin-right: 10px; }
    .icon-text-content > .mdl-button--fab,
    .icon-text-content.mdl-button--fab { width: 30px; min-width: 30px; height: 30px; }
    .icon-text-content > .mdl-button--fab > .material-icons,
    .icon-text-content.mdl-button--fab > .material-icons { font-size: 18px; }
    
    .comment-content { text-align: left !important; }
}

#comments .mdl-cell { white-space: nowrap; }
#comments > .mdl-card__supporting-text:last-child { margin-bottom: 16px; }
.comment-text { white-space: normal; }
.comment-content { display: inline-block; text-align: justify; }
.comment-header { margin: 5px 0 12px 0; }

.mdl-badge[data-badge]:after { background-color: #d81b60; }

/* FOSUser */
body.fosuser { background: url('../images/gplaypattern.png') left top repeat transparent; position: relative; }
body.fosuser .mdl-card { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.mdl-menu a { text-decoration: none; }

/* overlay */
.btw-overlay {   
  display: none;  
  position: fixed;
  padding: 66px 10px 10px 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  overflow-y: auto;
  z-index: 9999; 
}

@media (min-width: 1025px){
  .btw-overlay {
    left: 240px;
  }
}

/* Search On Screen */
.search-on-screen { 
  background-color: white !important; 
  transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -webkit-transition: background-color 0.3s ease-in;
}
.search-on-screen input {
  background-color: transparent;
  margin-right: 50px;
  border: none;
  width: 100%;
  line-height: 50px;
  font-size: 24px;
}
.search-on-screen input:focus { outline: none; }
.search-on-screen .back-button {
  color: rgba(0,0,0,0.6) !important;
}

/* Dialog */
.mdl-dialog__title { font-size: 1.5rem !important; }
.mdl-dialog__content > .mdl-grid { margin: 0 !important; padding: 0 !important; }

/* Notifications */
#dialog-notifications { width: 90%; height: 90%; }
#dialog-notifications .mdl-dialog__title { padding-bottom: 20px; }
#dialog-notifications .mdl-dialog__content { overflow-x: hidden; overflow-y: auto; height: 80%; padding-top: 0;  }
.notification { 
    display: inline-flex; white-space: nowrap; border-bottom: 1px solid rgba(0,0,0,.1); padding: 16px; 
    color: inherit;
    text-decoration: initial;
    font-weight: initial;
    width: 100%;
}
.notification .text-content { text-align: left; }
.notification.unread { background-color: #FFF8E1; }
.notification-datetime { display: block; color: rgba(0,0,0,.34); margin-top: 4px; }
.notification-comment { margin: 8px 0; padding: 12px; }

@media (max-width: 479px){
    .notification { padding: 16px 0; }
}

/* Generic */
#btn-send-message { position: absolute; right: 6px; bottom: 32px; z-index: 3; }

.nm { margin: 0; }
.nmv { margin-top: 0; margin-bottom: 0; }
.nmh { margin-left: 0; margin-right: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }

.np { padding: 0; }
.npv { padding-top: 0; padding-bottom: 0; }
.nph { padding-left: 0; padding-right: 0; }
.npt { padding-top: 0; }
.npb { padding-bottom: 0; }

.vertical-align-middle > * { vertical-align: middle; }