{% extends '::base.html.twig' %}

{% block body %}
    <div class="no-result" style="text-align: center;">
        <i class="material-icons" style="font-size: 76px;">do_not_disturb</i><br>
        <h2>{{ status_code }}</h2>
        {{ status_text }}
    </div>
{% endblock %}