<section id="customer-statistics">
    <ul class="mdl-list nm">
        <li class="mdl-list__item npt">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">account_circle</i>
                Usuários
            </span>
            <span class="mdl-list__item-secondary-action">{{ statistics.users }}</span>
        </li>
        <li class="mdl-list__item npt">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">content_paste</i>
                Projetos
            </span>
            <span class="mdl-list__item-secondary-action">{{ statistics.projects }}</span>
        </li>
        <li class="mdl-list__item npt">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">receipt</i>
                Tickets
            </span>
            <span class="mdl-list__item-secondary-action">{{ statistics.tickets.total }}</span>
        </li>
    </ul>
</section>
