parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     between
    database_user:     root
    database_password: docker
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    secret:            ThisTokenIsNotSoSecretChangeIt
    contact_email:     rodrigo.terminus@gmail.com
    contact_name:      "Rodrigo Duarte"

