{% trans_default_domain 'FOSUserBundle' %}

<!doctype html>
<html>
  {% include '::head.html.twig' %}
  <body class="fosuser">
  	{% block fos_user_content %}
    {% endblock fos_user_content %}
        
    {% include '::foot.html.twig' %}
  </body>
</html>
