{% block subject %}Recuperação de senha{% endblock %}

{% block body_html %}
	<table align="center" border="0" cellpadding="5" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#F1F1F1" align="center" style="border-bottom: 10px solid #FF9F34;">
				<img src="http://helpdesk.wbwinfo.com.br/assets/images/logo.png" alt="Between" width="48" height="48" style="vertical-align:middle; margin-right: 10px;">
        {# <span style="line-height: 48px">Between</span> #}
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" align="center">
				<div style="width: 600px; text-align: left;">
					<center><h2 style="color: #666; font-weight: 400;">Esqueceu sua senha?</h2></center>

					<p>Olá, {{ user.name }}.</p>
					<br>
					<p>
						Para redefinir sua senha, acesse <a href="{{ confirmationUrl }}">este link</a> e siga as instruções.
					</p>
					<br>
					
					{% include 'AppBundle:Email:signature.html.twig' %}
				</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#555555" align="center" style="color: #BDBDBD; font-size: 10px;line-height: 14px; padding: 15px 0;">					
				<b><a href="{{ path(app.request.attributes.get('_route')) }}" style="color: #BDBDBD; text-decoration: none;">Between</a></b><br />
				<p>Este é um email automático. Gentileza não responder.</p>
			</td>
		</tr>
	</table>
{% endblock %}